<div class="cont-congratulations d-flex flex-column">
    <div class="heading">
        <h1 class="text-center"><i>Félicitations !</i></h1>
        <p class="text-center">Toutes les réponses ont été répondues</p>
    </div>
    <div class="counter"></div>
    <div class="text text-center">Vous pouvez</div>
    <div class="cont-downloading d-flex flex-row justify-content-center align-items-center">
        <div class="icon-downloading cont-online col-3 text-center">
            <i class="fas fa-globe"></i>
            <small>Consulter les résultats ici</small>
        </div>
        <div class="icon-downloading cont-pdf col-3 text-center">
            <i class="fas fa-download"></i>
            <small>Télécharger les résultats en .pdf</small>
        </div>
        <div class="icon-downloading cont-email col-3 text-center">
            <i class="fas fa-envelope-open-text"></i>
            <small>Récupérer les résultats dans votre boîte mail</small>
        </div>
    </div>
</div>