{{ include('components/_question.html.twig', { question: 'Veuillez entrer vos habitudes' }) }}
<div class="user-icon d-flex justify-content-center pb-3">
    <img src="{{ asset('build/images/female-icon.cf1b1d39.png') }}" alt="">
</div>
<div class="input-habits">
    {{ form_row(form.habits, {'attr': {'class':'d-flex flex-row justify-content-center'}}) }}
</div>

