{{ include('components/_question.html.twig', { question: 'Veuillez entrer vos symptômes' }) }}
<div class="user-icon d-flex justify-content-center pb-3">
    <img src="{{ asset('build/images/user-icon.f70decb0.png') }}" alt="">
</div>
<div class="input-symptom col-4 m-auto">
        <input type="text" class="typeahead form-control input-lg" placeholder="Enter symptom" autocomplete="off">
    {{ form_row(form.symptoms) }}
</div>