<div class="cont-prev position-absolute">
    <button class="btn btn-outline-primary" type="button" value="prev"><i class="fas fa-chevron-left"></i> Précédent</button>
</div>
<div class="cont-next position-absolute">
    <button class="btn btn-outline-primary" type="button" value="next">Suivant <i class="fas fa-chevron-right"></i></button>
</div>