<div class="starting-button-cont d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
    <div class="cont-starting-button justify-content-center col-10 col-md-6">
        <button id="js-starting-button" type="button" class="starting-button btn btn-primary btn-lg btn-block">Je me teste</button>
        <small class="float-right mr-4"><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</i></small>
    </div>
</div>
