@import "~bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "variables";

@import "components/footer_rgpd";
@import "components/footer_icons";
@import "components/starting_button";
@import "components/form_section";
@import "components/age";
@import "components/gender";
@import "components/social_status";
@import "components/number_of_children";