<div class="cont-footer-icons row col-12 pb-3 pt-4">
    <div class="cont-icons col-md-8 row justify-content-center flex-fill">
        <div class="cont-icon calendar row flex-fill justify-content-end">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 far fa-calendar-alt"></i>Date</p>
            </a>
        </div>
        <div class="cont-icon chat row flex-fill justify-content-end">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 far fa-comment-alt"></i>Chat en ligne</p>
            </a>
        </div>
        <div class="cont-icon newsletter row flex-fill justify-content-end">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 far fa-bell"></i>Newsletter</p>
            </a>
        </div>
        <div class="cont-icon contact-us row flex-fill justify-content-end">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 far fa-envelope"></i>Contactez-nous</p>
            </a>
        </div>
    </div>
    <div class="cont-icons-interaction row col-md-4 justify-content-center">
        <div class="cont-icon like row flex-fill justify-content-end">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 far fa-heart"></i>J'aime</p>
            </a>
        </div>
        <div class="cont-icon facebook row flex-fill justify-content-center">
            <a href="#" class="link link-icons">
                <p><i class="pr-2 fab fa-facebook-f"></i>Suivez-nous</p>
            </a>
        </div>
    </div>
</div>