<section class="section-footer-rgpd row position-fixed fixed-bottom">
    <div class="cont-icon-warning col-1">
        <img src="{{ asset('build/images/warning-icon.png') }}" alt="">
    </div>
    <div class="cont-text-rgpd pt-4 pb-3 pl-5 pr-4 pl-md-0 pr-md-5 col-md-11">
        <p class="text-rgpd pt-1 pr-md-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eveniet illo impedit libero nemo tenetur
            ullam voluptates! Ad asperiores consectetur doloremque inventore iste. Accusamus ducimus, eius expedita
            quo rerum voluptate!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eveniet illo impedit libero nemo tenetur
            ullam voluptates! Ad asperiores consectetur doloremque inventore iste. Accusamus ducimus, eius expedita
            quo rerum voluptate!
        </p>
    </div>
</section>