{{ include('_question.html.twig', { question: 'Veuillez préciser votre sexe' }) }}
<div class="user-icon d-flex justify-content-center pb-3">
    <img class="m-3 mr-5 female-icon" src="{{ asset('build/images/female-icon.cf1b1d39.png') }}" alt="female-icon">
    <img class="m-3 ml-5 male-icon" src="{{ asset('build/images/male-icon.d6f477b5.png') }}" alt="male-icon">
</div>
<div class="input-age-range">
    {{ form_row(form.gender, {'attr': {'class':'d-flex flex-row justify-content-center'}}) }}
</div>