{{ include('_question.html.twig', { question: 'Veuillez entrer nombre d\'enfants' }) }}
<div class="user-icon d-flex justify-content-center pb-3">
    <img src="{{ asset('build/images/children.20107038.png') }}" alt="">
</div>
<div class="input-social-status">
    {{ form_row(form.numberOfChildren, {'attr': {'class':'d-flex flex-row justify-content-center'}}) }}
</div>
