{% extends 'base.html.twig' %}

{% block body %}


    <table class="w-50 table mt-5">
        <thead>
        <tr>
            <th>Issues ID</th>
            <th>Issues Name</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.issueId }}</td>
                <td>{{ issue.Name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Any issue found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}

{% endblock %}

